<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eggs</title>
</head>
<body>
    <ul>
        {% for egg in eggs %}
            <li>
                <p>{{ egg }}</p>>
                <a href="{% url 'egg_update' egg.id %}">Edit</a>
                <a href="{% url 'egg_delete' egg.id %}">Delete</a>
                <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>